@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");



@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@theme {
  --font-roboto: "Roboto", sans-serif; 
}